
.help-div {
  visibility: hidden;
  display: none;
}

.help-link {
  color: black;
  background-color: #f7f6f2;
  border: 1px solid #e8e3da;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  border-radius: 5px;
}

.login-form {
  border:1px solid #F2F0F2;
  background-color: #FAF7FA;
  padding: 5px;
  border-radius: 10px;
}

.user-menu {
  margin-bottom: 5px;
  width: 120px;
}

.recent-matches-title {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
}

.side-match-link {
 color: #E32E24; 
}

.side-match-link:hover {
 color: #F29D68; 
}

.recent-matches {
 background-color: #F2F8FA;
 padding: 10px;
 border-radius: 10px; 
 border: 1px solid #ABAEF5;
}

.side-match {
 margin-bottom: 5px;
}

.footer-link {
 color: black;
 font-size: 10px;
}

.kddelta-positive {
  font-weight: bold;
  color: green;
}

.kddelta-negative {
  font-weight: bold;
  color: red;
}

.player-division {
  background-color: #F2F8FA;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #ABAEF5;
  
}

.player-division a {
  color: red;
}

.home-header {
  border:1px solid #F2F0F2;
  background-color: #FAF7FA;
  border-radius: 10px;
  padding: 10px;
}

.home-header p {
  font-size: 15px; 
}

.server-info {
 font-size: 10px; 
}

.error-div {
	visibility: hidden;
	display: none;
}

.page-nav {
	border: 1px solid #e8e3da;
	border-radius: 10px;
	width: 120px;
	padding: 5px;
	padding-left: 10px;
}